@font-face {
  font-family: "iconfont"; /* Project id 1948567 */
  src: url('iconfont.woff2?t=1627959591717') format('woff2'),
       url('iconfont.woff?t=1627959591717') format('woff'),
       url('iconfont.ttf?t=1627959591717') format('truetype');
}

.iconfont ,[class^="al-icon"],[class*=" al-icon"]{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.al-icon-al-icon-mysql2:before {
  content: "\e604";
}

.al-icon-mysql:before {
  content: "\e628";
}

.al-icon-oracle:before {
  content: "\ec48";
}

.al-icon-item-4:before {
  content: "\e708";
}

.al-icon-del:before {
  content: "\e614";
}

.al-icon-chakan:before {
  content: "\e716";
}

.al-icon-edit:before {
  content: "\e62d";
}

.al-icon-tool:before {
  content: "\e627";
}

.al-icon-add-details:before {
  content: "\e645";
}

.al-icon-view:before {
  content: "\e6cb";
}

.al-icon-item-2:before {
  content: "\e6c9";
}

.al-icon-item-3:before {
  content: "\e639";
}

.al-icon-item-1:before {
  content: "\e6ca";
}

